
.slick-prev, .slick-next {
    background: rgba(252, 252, 252, 0.6);
    border-radius: revert-layer;
    font-size: 0;
    height: 40px;
    top: 50%;
    width: 10px;
}

.slick-prev:before, .slick-next:before, .slick-prev:after, .slick-next:after {
    color: #555555;
    font-size: 20px;
    opacity: 5;
}

.slick-initialized .slick-slide {
    display: flex;
}
